@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the button container by default */
.button-container {
  visibility: hidden;
  white-space: nowrap;
  /* Ensure buttons don't wrap */
}

/* Show the button container when the row is hovered */
.hover-row:hover .button-container {
  visibility: visible;
}

/* Style for the buttons (customize as needed) */
.table-button {
  margin-left: 5px;
  /* Space between buttons */
  /* Add more styling here */
}

/* Ensure the row has a cursor pointer to indicate it's interactive */
.hover-row {
  cursor: pointer;
}

body {
  overflow: visible !important;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}