@tailwind base;
@tailwind components;
@tailwind utilities;

.button-container {
  visibility: hidden;
  white-space: nowrap;
}

.hover-row:hover .button-container {
  visibility: visible;
}

.table-button {
  margin-left: 5px;
}

.hover-row {
  cursor: pointer;
}

body {
  overflow: visible !important;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}